html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #FFFFFF;
  --link: #555;
  --btn: #ff526b;
  --underline: #ff523b;
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.1;
}

p {
  color: var(--link);
}

a, a:active, a:visited {
  text-decoration: none;
  color: var(--bg-color);
}

ul {
  padding: 0;
}

ul, li {
  list-style: none;
}

.header .row {
  margin-top: 1.25rem;
}

.wrapper {
  max-width: 81.25rem;
  margin: auto;
  padding: 0rem 1.5625rem 0rem 1.5625rem;
}
.wrapper .navbar {
  display: flex;
  align-items: center;
  padding: 1.25rem;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row__col-2 {
  flex-basis: 50%;
  min-width: 18.75rem;
}

.row__col-2 img {
  max-width: 100%;
  padding: 3.125rem 0rem;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li a {
  margin-right: 20px;
  font-size: 1.25rem;
}

.row__col-2 h1 {
  font-size: 3.125rem;
  line-height: 3.75rem;
  margin: 1.5625rem 0rem;
}

.row__col-2 p {
  font-size: 1.25rem;
}

.row__col-2 .btn {
  display: inline-block;
  background-color: var(--btn);
  color: var(--bg-color);
  padding: 0.625rem 1.875rem;
  margin: 1.875rem 0rem;
  border-radius: 1.875rem;
  font-size: 1.1rem;
  transition: background 0.5s;
}

.row__col-2 .btn:hover {
  background-color: #563434;
}

.menu-icon {
  width: 1.75rem;
  margin-left: 1.25rem;
  display: none;
}

@media (max-width: 50rem) {
  nav ul {
    position: absolute;
    top: 4.375rem;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 3.125rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
@media (max-width: 37.5rem) {
  .row {
    text-align: center;
  }
  .row__col-2, .col-3, .col-4 {
    flex-basis: 100%;
  }
}
.categories {
  margin: 4.375rem 0rem;
}
.categories__small {
  max-width: 67.5rem;
  margin: auto;
  padding: 0rem 1.5625rem 0rem 1.5625rem;
}

.col-3 {
  flex-basis: 30%;
  min-width: 15.625rem;
  margin-bottom: 1.875rem;
}

.col-3 img {
  width: 100%;
}

.col-4 {
  flex-basis: 25%;
  padding: 0.625rem;
  min-width: 12.5rem;
  margin-bottom: 3.125rem;
  transition: transform 0.5s;
}

.col-4:hover {
  transform: translateY(-0.3125rem);
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 5rem;
  position: relative;
  line-height: 3.75rem;
  color: var(--link);
}

.title::after {
  content: "";
  background-color: var(--underline);
  width: 5rem;
  height: 0.3125rem;
  border-radius: 0.3125rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-4 h4 {
  color: var(--link);
  font-weight: normal;
}

.col-4 .rating .fa-solid {
  color: #ff253b;
}

.col-4 p {
  font-size: 0.875rem;
}

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 5rem;
  padding: 1.875rem 0rem;
}

.row__col-2 .offer-img {
  padding: 3.125rem;
}

small {
  color: var(--link);
}

.testimonial {
  padding-top: 6.25rem;
}

.testimonial .col-3 {
  text-align: center;
  padding: 2.5rem 1.25rem;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3:hover {
  transform: translateY(-0.625rem);
}

.testimonial .col-3 img {
  width: 3.125rem;
  margin-top: 1.25rem;
  border-radius: 50%;
}

.fa-quote-left {
  font-size: 2.125rem;
  color: #ff523b;
}

.col-3 p {
  font-size: 0.875rem;
  margin: 0.75rem 0;
  color: #777;
}

.testimonial h3 {
  font-weight: 600;
  color: #555;
  font-size: 1rem;
}

.brands {
  margin: 6.25rem auto;
}

.col-5 {
  width: 10rem;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 0.875rem;
  padding: 3.75rem 0 1.25rem;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: var(--bg-color);
  margin-bottom: 1.25rem;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 15.625rem;
  margin-bottom: 1.25rem;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 11.25rem;
  margin-bottom: 1.25rem;
}

.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

.app-logo {
  margin-top: 1.25rem;
}

.app-logo img {
  width: 8.75rem;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 0.0625rem;
  margin: 1.25rem 0;
}

.copyright {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
