.footer {
    background: #000;
    color: #8a8a8a;
    font-size: .875rem;
    padding: 3.75rem 0 1.25rem;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: var(--bg-color);
    margin-bottom: 1.25rem;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 15.625rem;
    margin-bottom: 1.25rem;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-2 img {
    width: 11.25rem;
    margin-bottom: 1.25rem;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

.app-logo {
    margin-top: 1.25rem;
}

.app-logo img {
    width: 8.75rem;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: .0625rem;
    margin:  1.25rem 0;
}

.copyright {
    text-align: center;
}