.header {
    background: radial-gradient(#fff, #ffd6d6);
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li a {
  margin-right: 20px;
  font-size: 1.25rem;
}

.row__col-2 h1 {
    font-size: 3.125rem;
    line-height: 3.75rem;
    margin: 1.5625rem 0rem;
}

.row__col-2 p {
  font-size: 1.25rem;
}

.row__col-2 .btn {
    display: inline-block;
    background-color: var(--btn);
    color: var(--bg-color);
    padding: .625rem 1.875rem;
    margin: 1.875rem 0rem;
    border-radius: 1.875rem;
    font-size: 1.1rem;
    transition: background .5s;
}

.row__col-2 .btn:hover {
  background-color: #563434;
}

.menu-icon {
  width: 1.75rem;
  margin-left: 1.25rem;
  display: none;
}

@media (max-width: 50rem) {
  nav ul {
    position: absolute;
    top: 4.375rem;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height .5s;
  }
  nav ul li {
    display: block;
    margin-right: 3.125rem;
    margin-top: .625rem;
    margin-bottom: .625rem;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 37.5rem) {
  .row {
    text-align: center;
  }
  .row__col-2, .col-3, .col-4 {
    flex-basis: 100%;
  }
}