.wrapper {
  max-width: 81.25rem;
  margin: auto;
  padding: 0rem 1.5625rem 0rem 1.5625rem;

  .navbar {
    display: flex;
    align-items: center;
    padding: 1.25rem;
  }
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  &__col-2 {
    flex-basis: 50%;
    min-width: 18.75rem;
  }
}

.row__col-2 img {
  max-width: 100%;
  padding: 3.125rem 0rem;
}
